In [1]:
import csv
import geopandas as gpd
import logging
import math
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
from shapely.geometry import Point
from shapely import wkt
from src.usa.constants import *
from src.constants import *
import streamlit as st
from src.usa.facilities import CVS, Walmart, Walgreens, PharmaciesTop3, Pharmacies, Hospitals, UrgentCare, DialysisCenters, ChildCare, NursingHomes, FedEx, UPS, DHL, PrivateSchools, PublicRefrigeratedWarehouses, FDICInsuredBanks

In [3]:
os.chdir('../..')

In [12]:
for facility in [CVS, Walmart, Walgreens, PharmaciesTop3, Pharmacies, Hospitals, UrgentCare, DialysisCenters, ChildCare, NursingHomes, FedEx, UPS, DHL, PrivateSchools, PublicRefrigeratedWarehouses, FDICInsuredBanks]:
    df = pd.read_csv(os.path.join('data', 'usa', 'existing_facilities', 'abridged_' + facility.name + '.csv'))
    if 'Unnamed: 0' in df.columns:
        print('Dropping column Unnamed: 0 from ' + facility.name)
        df = df.drop(columns=['Unnamed: 0'])
    df['geometry'] = df['geometry'].apply(wkt.loads)
    df = gpd.GeoDataFrame(df, geometry='geometry', crs=projection_wgs84)

    dir = os.path.join('data', 'usa', 'existing_facilities', facility.name)
    if not os.path.exists(dir):
        os.makedirs(dir)

    df.to_csv(os.path.join('data', 'usa', 'existing_facilities', facility.name, 'abridged_facilities.csv'), index=False)

Dropping column Unnamed: 0 from pharmacies
Dropping column Unnamed: 0 from hospitals
Dropping column Unnamed: 0 from urgentcare_centers
Dropping column Unnamed: 0 from dialysis_centers
Dropping column Unnamed: 0 from childcare_centers
Dropping column Unnamed: 0 from nursing_homes
Dropping column Unnamed: 0 from fedex_facilities
Dropping column Unnamed: 0 from ups_facilities
Dropping column Unnamed: 0 from dhl_facilities
Dropping column Unnamed: 0 from private_schools
Dropping column Unnamed: 0 from public_refrigerated_warehouses
Dropping column Unnamed: 0 from fdic_insured_banks

In [5]:
df

       Unnamed: 0 STATE                      geometry
0               0    CT  POINT (-72.878648 41.601435)
1               1    ME  POINT (-70.256668 43.657432)
2               2    ME  POINT (-68.424621 44.541326)
3               3    MA  POINT (-71.057959 42.352824)
4               4    MA  POINT (-71.118913 42.373832)
...           ...   ...                           ...
88058       88058    FL  POINT (-82.372153 29.614166)
88059       88059    MO  POINT (-90.436247 38.672542)
88060       88060    WV   POINT (-79.92148 39.651497)
88061       88061    WV  POINT (-80.226518 38.983763)
88062       88062    OR  POINT (-123.088238 44.04405)

[88063 rows x 3 columns]